<footer class="contenair-fluid bg-second">
    <div class="container py-4">
        <div class="row text-center">
            <!-- Link to other pages-->
            <div class="col-12 col-sm-5">
                <a routerLink="/" class="text-capitalize nav-link">Accueil</a>
                <a routerLink="/contact" class="text-capitalize nav-link">contact</a>
                <a routerLink="/a-propos" class="text-capitalize nav-link">à propos</a>
                <a routerLink="/legal" class="text-capitalize nav-link">mentions légal</a>
            </div>

            <!-- Social Media content-->
            <div class="col-sm-1 border-end border-4 d-none d-sm-block" style="--bs-border-color: #FDD90B ;"></div>
            <div class="col-12 col-sm-5 my-auto">
                <div class="container-fluid">
                    <div class="row justify-content-center gap-3">
                        <div class="col-12 col-lg-1">
                            <a href="https://www.facebook.com/" target="_blank" class="social-link">
                                <fa-icon [icon]="facebook"></fa-icon>
                            </a>
                        </div>
                        <div class="col-12 col-lg-1">
                            <a href="https://x.com/home" target="_blank" class="social-link">
                                <fa-icon [icon]="twitter"></fa-icon>
                            </a>
                        </div>
                        <div class="col-12 col-lg-1">
                            <a href="https://www.instagram.com/" target="_blank" class="social-link">
                                <fa-icon [icon]="instagram"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
