.btn-outline-warning {
    --bs-btn-color: #FDD90B ;
    --bs-btn-border-color: #FDD90B;
    --bs-btn-hover-color: #151217;
    --bs-btn-hover-bg: #FDD90B ;
    --bs-btn-hover-border-color: #FDD90B ;
}