<app-titre-h1 titre="Nous contacter" class="ms-2"/>

<div class="container my-4">
    <form class="container-lg">
        <!-- Name input -->
        <div class="row mb-4">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Prénom" aria-label="Last name">
            </div>
          </div>
      
        <!-- Email input -->
        <input type="email" class="form-control mb-4" placeholder="Email">
      
        <!-- Message input -->
          <textarea class="form-control mb-4" rows="4" placeholder="Votre message"></textarea>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Envoyer votre message</button>
      </form>
</div>