<app-titre-h3 id="boutique" titre="Notre boutique !"/>

<!--Section recherche et tri-->
<div class="row g-3">
    <div class="col-12 col-sm-8 align-self-center">
        <label for="search">Rechercher : </label>
        <input class="w-50 ms-2" id="search" type="text" [(ngModel)]="searchTerm">
    </div>
    <div class="col-6 col-lg-2">
        <button class="w-100 h-100 btn" (click)="tri = 'ascending'">Tri par prix croissant</button>
    </div>
    <div class="col-6 col-lg-2">
        <button class="w-100 h-100 btn" (click)="tri = 'descending'">Tri par prix décroissant</button>
    </div>

</div>

<!--Cartes de produits-->
<div class="row my-3">
    <div *ngFor="let item of productList | filtre:searchTerm | sort:tri" class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
        <div class="card h-100 mx-auto" style="width: 18rem;">
            <img [src]="item.img" class="card-img-top" [alt]="item.title">
            <div class="card-body row align-items-center">
              <h5 class="card-title text-center">{{ item.title }}</h5>
              <p class="card-text">{{ item.shortDesc }}</p>
              <p class="card-text text-end">{{ item.prix }} €</p>
              <a [routerLink]="'product/'+item.id" class="btn w-auto">Découvrir plus</a>
            </div>
          </div>
    </div>
</div>